<app-side-bar></app-side-bar>

<div class="sm:ml-28 lg:ml-64">
  <div class="border-2 borderrounded-lg flex flex-col justify-center h-screen items-center lg:items-center bg-cover bg-center bg-no-repeat" style="background-image: url('../../../../assets/images/changePassword.jpg');">
    <img src="../../../assets/images/usuario-de-perfil.png" class="w-32 h-32 mb-1 border border-white rounded-full">
    <div class="rounded-2xl py-10 px-6 pl-14 pr-24" style="background: rgba(255, 255, 255, 0.5); backdrop-filter: blur(8px);">
      <div class="flex flex-col justify-center  mt-6 items-center lg:mx-14">
        <h1 class="font-bold text-2xl mb-3 pl-10">Cambiar Contraseña</h1>
        <form class="max-w-md mx-auto" [formGroup]="changePasswordForm" (ngSubmit)="changePasswordForm.valid && changePassword()">
          <app-text-input
            [formControl]="$any(changePasswordForm.controls['OldPassword'])"
            label="Contraseña"
            [type]="'password'"
            placeholder="Ingrese su contraseña"
            requiredMessage="La contraseña es requerida"
          />
          <app-text-input
            [formControl]="$any(changePasswordForm.controls['NewPassword'])"
            label="Nueva Contraseña"
            [type]="'password'"
            placeholder="Ingrese su contraseña"
            requiredMessage="La contraseña es requerida"
            samePasswordMessage="La nueva contraseña no puede ser igual a la contraseña actual"
          />
          <app-text-input
            [formControl]="$any(changePasswordForm.controls['ConfirmNewPassword'])"
            label="Confirme la contraseña"
            [type]="'password'"
            placeholder="Confirme su contraseña"
            requiredMessage="La confirmación de la contraseña es requerida"
          />
          <div class="flex justify-center pl-10">
            <button
              class="w-fit my-2 px-5 py-2 text-sm font-medium text-center text-white bg-custom-morado-700 rounded-lg"
              [disabled]="!changePasswordForm.valid"
              [ngClass]="
                changePasswordForm.valid
                  ? 'hover:bg-custom-morado-800 focus:ring-4 focus:outline-none focus:ring-blue-300'
                  : 'bg-blue-400 cursor-not-allowed'
              "
              type="submit"
            >
              ¡Guardar cambios!
            </button>
        </div>
      </form>
      <div
      *ngIf="successMessage == true"
      class="p-4 text-sm text-custom-morado-800 rounded-lg bg-custom-morado-50"
      role="alert"
      >
      ¡Listo! La contraseña ha sido cambiada con éxito.
      </div>
      <div
      *ngIf="errorMessage"
      class="p-4 text-sm text-red-800 rounded-lg bg-red-50"
      role="alert"
      >
      <span class="font-medium">Error!</span> {{ errorMessage }}
      </div>
    </div>
    </div>
  </div>
</div>
